*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    
}
.container{
    padding: 5%;

}
.top_navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px grey;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 30;
}

.logo img{
    width: 50px;
    height: 50px;
    margin-left:80px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
}

.nav_button{
   
    
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 4px;
    font-weight: 500;   
    text-decoration: none;
    transition: ease 0.40s;
    text-align: left;
    margin-left: 15px;
}

.nav_button:hover{
    color: azure;
}


.nav_button a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    padding: 14px 16px;
    float: left;
    font-size: 18px;
    transition: ease 0.30s;
}
.nav_button a:hover{
    text-decoration: none;
    background-color: purple;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 5px;
    color: white;
}

.nav_button a.active {
    background-color:purple;
    color: white;
  }

.search_box{
    text-align: right;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.2);
    
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 15px;
}
.search_box input[type=text] {
    float: right;
    flex: 1;
    outline: none;
    color:black;
    padding: 8px;
    border: none;
    width: 300px;
    background-color: rgb(242, 239, 239);
    font-size: 15px;
  }
.search_box button {
    float: right;
    padding: 6px 10px;
    
    margin-right: 4px;
    background: #ddd;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
.search_box button:hover {
    background: #ccc;
  }


.profile{
    text-align:right;
    margin-right: 80px;
}
.profile i{
    width: 40px;
    font-size: 25px;
}
.profile i:hover{
  cursor: pointer;
}   
h1{
    margin-left: 90px;
    margin-top: 40px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-style: Arial;
}
.location_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 80px;
    margin-left: 80px;
   
}
.location_box::-webkit-scrollbar{
    display: none;
}

.locations{
    width: 32%;
    min-width: 32%;
    box-shadow: 0px 0px 10px 0px grey;
    background-color: #f3f4f9;
    margin-bottom: 20px;
    margin-top: 30px;
}
.locations:hover{
    box-shadow: 0px 0px 20px 0px grey; ;
}
.location_name h3{
    margin-top: 15px;
    text-align: left;
   margin-left: 16px;
}



.location_name{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 7px;
}
.location_name p{
    margin-top: 15px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 27px;
}
.location{
    display: flex;
    justify-content: space-between; 
    
    margin-top: 15px;
    
}
.location h3{
    font-size: 23px;
    text-align: left;
    width: 100%;
   margin-left: 27px;
}

.location i{
    display: grid;
    grid-template-columns: 5px 6fr;
    font-size: 17px;
    margin-right: 20px;
    text-align: right;
   margin-top: 6px;
}
.location_price{
 display: flex;
 justify-content: space-evenly;
 width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.location_price p{
    
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 15px;
   
}

.location_price i{
    margin-right: 6px;
}




.locations img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.second_container{
    width: 100%;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;

}

.image{
    background-color: purple;
    border: 1px solid black;
    text-align: right;
}

.image img{
    width: 400px;
    height: 400px;
    margin-right: 100px;
    padding: 30px 30px;
}

.customize_container{
   
    background-color: #F7F1E2;
    height: 150px;
    margin-top: 40px;
    padding: 20px;
    text-align: center;



}
.customize_container p{
    
    text-align: center;
    margin-top: 40px;
    font-size: 30px;

}

.customize_button{
    
    
    margin-top: 20px;
    padding: 12px 50px;
    background-color: purple;
    color: white;
    font-weight: solid black;
    border-radius: 15px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px black;
 }
 .customize_button:hover{
     box-shadow: 0px 0px 10px 0px black;
 }
 .customize_button:active{
     background-color: rgb(169, 9, 169) ;
 }

 .footer{
    margin-top: 80px;
    background-color: rgb(73, 21, 74);
}

.foot{
    padding: 20px 0;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.footlinks h4{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
    position: relative;
}

.footlink_social h4{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
    position: relative;
}

.footlinks ul li{
    margin-bottom: 17px;
    color: white;
}


.social a{
    font-size: 25px;
    margin: 4px;
    height: 40px;
    width: 40px;
    color: rgb(21, 74, 74);
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: ease 0.30s;
    text-decoration: none;
}

.social a:hover{
    transform: scale(1.2);
}

.end{
    text-align: center;
    background-color: rgb(77, 51, 77);
    padding-top: 7px;
    padding-bottom: 10px;
}

.end p{
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
}
.footlinks a{
    color:#fffefe;
    text-decoration: none;
}
.footlinks li :hover{
    text-decoration: underline ;
    transform: scale(1.2);
    transition: ease 0.30s;
    color:#e1d4d4


}
.footlinks li :active{
    color:#090909;
}

.burger{
    width: 0px;
    position: absolute;
    right: 20px;
    top: 0px;
}

/* ADDED */

@media (max-width:1125px)
{
    .logo img{
        width: 50px;
        height: 50px;
        margin-left:40px;
        margin-bottom: 15px;
        margin-top: 15px;
        display: flex;
    }
    .nav_button{
   
    
        color: rgb(0, 0, 0);
        font-size: 18px;
        border-radius: 4px;
        font-weight: 500;   
        text-decoration: none;
        transition: ease 0.40s;
        text-align: left;
        margin-left: 0px;
    }
    .profile{
        text-align:right;
        margin-right: 30px;
    }
    .search_box input[type=text] {
        padding: 8px;
        width: 200px;
       font-size: 15px;
      }
      .location_box{
        margin-right: 70px;
        margin-left: 70px;
       
    }
}


@media (max-width:919px)
{
    .search_box input[type=text] {
        padding: 8px;
        width: 100px;
       font-size: 15px;
      }
}
@media (max-width:919px)
{
    .nav_button a{
        text-decoration: none;
        color: black;
        margin-left: 10px;
        margin-right: 10px;
        padding: 14px 5px;
        
    }
    .location_box{
        margin-right: 40px;
        margin-left: 40px;
    }
}

@media (max-width:1015px)
{
    .location i{
        
        grid-template-columns: 5px 6fr;
        font-size: 15px;
        margin-right: 15px;
    
    }
}
@media (max-width:929px)
{
    .location i{
        
        grid-template-columns: 5px 6fr;
        font-size: 10px;
        margin-right: 10px;  
    }
    .location h3 {
        font-size: 22px;
        text-align: left;
        width: 100%;
        margin-left: 7px;
            }
        
            
        /* price  */
        .location_name p {
            margin-left: 3px;
            margin-right: 0px;
        }
        
        .location_price p {
            font-size: 8px;
        }
        .location_name p {
            font-size: 18px;
}
}

@media (max-width:770px)
{
    .location i{
        
      
        font-size: 5px;
        margin-right: 5px;  
    }
    .location h3 {
        font-size: 10px;
        text-align: left;
        width: 100%;
        margin-left: 7px;
            }
    
            /* price */
            .location_name p {
                font-size: 10px;
}
.location_price p {
    font-size: 1px;
}
.location_box{
    margin-right: 10px;
    margin-left: 10px;
}
}
@media (max-width:528px)
{
.location_price p {
        font-size: 1px;
}
.location_box{
    margin-right: 5px;
    margin-left: 5px;
}
.profile
{
    width: 0px;
    height: 0px;
}
.top_navbar{
    position: block
    ;
    
}
}


/* ham */

@media (max-width:675px) { 
    .nav_button
    {
        display: flex;
       flex-direction: column;
       margin-right: 60%;

      
    }
    .top_navbar
    {
        display: inline;
        flex-direction: column;
        width: 30px;
        margin-right: 80px;
      

    }
      

    .logo img{
        width: 30px;
        height: 30px;
        /* margin-top: 15px;
        margin-left:20px; */
    }
    .search_box{
        margin-right: 60%;
    }

    .burger{
        width: 40px;

    }
    .fa-user {
        display: none;
      }
    
    .v-class{
        opacity:0;
    }
    
    .nav_button
    {
        height: 190px;
    }
   .search{
    height: 30px;
   }
   .high{
    height:0px
   }

}